<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Deportivo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Menu.css">
</head>
<body>
    <div class="menu">
        <h1 id="title">Básquetbol</h1>
        <div class="menu-buttons">
            <button class="button registro-btn" onclick="window.location.href ='/MenuRegistro';">
                <div class="name">Registros</div>
                <div class="image"></div>
            </button>
            <button class="button marcador-btn" onclick="window.location.href = '/Marcador';">
                <div class="name">Marcador</div>
                <div class="image"></div>
            </button>
    </div>
    <script src="~/js/menu.js"></script> 
</body>
</html>