<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Deportivo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/MenuRegistro.css">
</head>
<body>
    <div class="menu">
        <h1 id="title">Registros</h1>
        <div class="menu-buttons">
            <button class="button equipo-btn" onclick="window.location.href ='/RegistroEquipo';">
                <div class="name">Equipos</div>
                <div class="image"></div>
            </button>
            <button class="button jugador-btn" onclick="window.location.href = '/RegistroJugador';">
                <div class="name">Jugadores</div>
                <div class="image"></div>
            </button>
            <button class="button partido-btn" onclick="window.location.href = '/RegistroPartido';">
                <div class="name">Partidos</div>
                <div class="image"></div>
            </button>
    </div>
    <script src="~/js/menu.js"></script> 
</body>
</html>