<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Deportivo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/menu.css" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <h1 id="sports-title">Deportes</h1>
        <div class="menu-buttons">
            <button class="sport-button basketball-btn" onclick="window.location.href ='/Partido';">
                <div class="sport-name">Baloncesto</div>
                <div class="sport-image"></div>
            </button>
            <button class="sport-button tennis-btn" onclick="window.location.href = 'Tenis.html';">
                <div class="sport-name">Tenis</div>
                <div class="sport-image"></div>
            </button>
            <button class="sport-button volleyball-btn" onclick="window.location.href = 'Voleibol.html';">
                <div class="sport-name">Voleibol</div>
                <div class="sport-image"></div>
            </button>
        </div>
    </div>
   
    <script src="~/js/menu.js"></script>
</body>
</html>














